Repository pablomaribondo/auth-middleware: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add ts-node-dev
  package.json
  yarn.lock
Due: prettier --write

chore: add tsconfig-paths
  package.json
  yarn.lock
Due: prettier --write

chore: add dotenv
  package.json
  yarn.lock
Due: prettier --write

chore: add express
  package.json
  src/server.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: create env file with JWT_SALT variable
  .env.example
  .gitignore
Due: none

chore: add dist folder to formatters ignore patterns
  .eslintignore
  .prettierignore
Due: none

chore: add jsonwebtoken
  package.json
  yarn.lock
Due: prettier --write

chore: add new-cap rule config for linter
  .eslintrc.json
Due: prettier --write

refactor: remove unusued file extensions
  .lintstagedrc.json
Due: prettier --write

feat: create auth route
  src/routes.ts
  src/routes/auth.ts
  src/server.ts
Due: eslint --fix, prettier --write

style: adjust eslint rules
  .eslintrc.json
Due: prettier --write

feat: create isAuthenticated middleware
  src/middleware/isAuthenticated.ts
Due: eslint --fix, prettier --write

feat: create secret route
  src/routes.ts
  src/routes/secret.ts
  src/server.ts
Due: eslint --fix, prettier --write

docs: add readme file
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{tsx,ts,jsx,js}
  prettier --write: any of: *.{css,scss,html,json,tsx,ts,jsx,js,md}
